body {
    background-color: #f8f9fa;
}

.heading h1 {
    letter-spacing: 0.5px;
}

img {
    border-radius: 10px;
}

h1 {
    text-shadow: 2px 2px;
}

.main-bg {
    background-image: url('data/bike.gif');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    background-position: center;
    background-origin: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;   
    margin-top: 0; 
}

.am-bg {
    background-image: url('data/bikerack.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    background-position: center;
    background-origin: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;   
    margin-top: 0; 
}

.title {
    background-color: #12ad52;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
}
.mapbutton {
  background-color: rgb(26, 255, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}