body {
    background-color: #f8f9fa;
}

.heading h1 {
    letter-spacing: 0.5px;
}

img {
    border-radius: 10px;
}

h1 {
    text-shadow: 2px 2px;
}

.main-bg {
    background-image: url('data/bike.gif');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    background-position: center;
    background-origin: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    margin-top: 0;
}

.am-bg {
    background-image: url('data/bikerack.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    background-position: center;
    background-origin: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    margin-top: 0;
}

.title {
    background-color: #12ad52;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
}

.mapbutton {
    background-color: rgb(26, 255, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* Style the main body text */
body.navigation-page {
    background-image: url('data/bikephoto.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.534);
    background-blend-mode: lighten;
}

.navigationtext {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #ffffff;
    color: #333333;
}

/* Style the main title */
.navigation-page h1 {
    max-width: 100%;
    width: 100%;
    font-size: 60px;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    color: #faf5f5;
    padding-bottom: 10px;
    text-shadow: none;
    background-color: #12ad52;
    white-space: nowrap;
    text-align: center;
}

/* Style each section heading */
.navigation-page h2 {
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
    color: #12a73f;
}

/* Style each paragraph */
.navigation-page p {
    font-weight: bold;
    font-size: 30px;
    line-height: 1.6;
    color: #555555;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.geocoder {
    position: relative;
    margin: 10px 0 10px;
}

#returnbutton {
    position: absolute;
    margin: 10px 10px 20px;
    width: 15%;
}

.map-data-container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    width: 260px;
    top: 0;
    left: 10px;
    margin-top: 60px;
    padding: 10px;
    border-radius: 8px;
    overflow: visible;
}

.option-label {
    font: 15px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 95%;
    padding-bottom: 8px;
}

.form-check-label {
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

form {
    padding-bottom: 20px;
}

.legend {
    position: absolute;
    display: none;
    background-color: #fff;
    border-radius: 3px;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    /*horizontal shadow, vertical shadow, size of shadow, color*/
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend-colcircle {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: var(--legendcolour);
}

#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}